@use "../abstracts/variables" as*;


body {
   background-color: white;
}


.wrapper {
   width: 90%;
   margin: 0 auto;
   max-width: 1200px;
   }
   
ul {
   decoration: none;
   list-style: none;
}

a {
   decoration: none;
   color: black;
   text-decoration: none;
}
