@use "../abstracts/variables" as*;


body {
   background-color: white;
}


.wrapper {
   width: 90%;
   margin: 0 auto;
   max-width: 1600px;
   }

.wrapper-min {
   width: 60%;
   max-width: 960px;
   margin: 0 auto;
}
   
ul {
   list-style: none;
   list-style-position: inside;
}

a {
   text-decoration: none;
}

p {
   margin: 0 auto;
}
