@use "../abstracts/variables" as*;



@font-face {
   font-family: "Gordita";
   src: local("Gordita Regular"), url("../../fonts/GorditaRegular.otf"), format("opentype");
   font-weight: normal;
}


html {
   font-size: 125%;
}

a {
   color: $black;
}
//homepage

.top-nav {
   text-transform: capitalize;
   color: $white;
   a {
      color: $white;
   }
}

.special-font {
   font-family: 'EB Garamond', serif;
}

.logo {
   font-family: 'EB Garamond', serif;
   font-size: 1.5rem;
   text-transform: lowercase;
}

.homepage nav {
   color: $white;
}

//components
header {
   color: white;
}