@use "../abstracts/variables" as*;



@font-face {
   font-family: "Gordita";
   src: local("Gordita Regular"), url("../../fonts/Gordita\ Regular.otf") format("opentype");
   font-weight: normal;
}


html {
   font-size: 125%;
}

.special-font {
   font-family: 'EB Garamond', serif;
}

.logo {
   font-family: 'EB Garamond', serif;
   font-size: 1.5rem;
}

