@use "../abstracts/variables" as*;

.homepage header {
   height: 100vh;
   background-image: linear-gradient(to top, rgba(45, 45, 45, 0.4) 0%,
   rgba(0, 0, 0, 0.8) 80%), url(../assets/jason-goodman-Oalh2MojUuk-unsplash.jpg);
   background-size: cover;
}



